.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  font-family: Calibri,Candara,Segoe,"Segoe UI",Optima,Arial,sans-serif
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  background-color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.jumbotron p{
  font-size: 17px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/*
  DJA CUSTOM
*/

.header {
  text-transform: uppercase;
}

.banner, .banner-img{
  width:100%;
}

.banner-img{
  box-shadow: 0px 5px 5px #888888;
}

.body-image{
  width: 100%;
}

.header, .navbar {
  margin-bottom:0px;
}

ul#sycbuttons li {
    display:inline;
}

ul#sycbuttons li.desktop {
  display: none;
}

ul#sycbuttons li.mobile {
  display: inline;
}

.desktop {
  display: none;
}

form {
  display: inline;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }

  ul#sycbuttons li.mobile {
    display: none;
  }

  ul#sycbuttons li.desktop {
    display: inline;
  }

  .desktop {
    display: inline;
  }

  .mobile {
    display: none;
  }
}
