
<p>
  We invite you to help shape the future of Sycamore, a big camelback double
  that has for seven years been an outpost of New Orleans counterpower.
</p>
<p>
  Sycamore has done, been and survived many things; now we are looking to make
  the largest shift yet, larger than anything we've done before. We are expanding
  our vision, deepening our commitments and multiplying our capacities.
</p>
<p>
  <a class="btn btn-lg btn-success" ng-href="#/">Donate</a>
  <a class="btn btn-lg btn-success" ng-href="#/"><span class="glyphicon glyphicon-list-alt"></span> Wishlist</a>
  <a href="" class="btn btn-lg btn-success"><span class="glyphicon glyphicon-calendar"></span> Volunteer</a>
</p>

<div class="row marketing">
  <h4>Who We Are</h4>
  <p>
    Lorum Ipsum.
  </p>

  <h4>What We've Done</h4>
  <p>
    Lorum Ipsum.
  </p>

  <h4>What's We're Going to Do</h4>
  <p>Lorum Ipsum</p>
</div>
